@import "../../../Global/Styles/global"

$class: header

.#{$class}
	display: flex
	height: 124px
	background: #F5F6F9

	&__inner
		max-width: $max-width
		width: 100%
		display: flex
		margin: auto
		justify-content: space-between
		align-items: center

	&__title
		font-size: 36px
		font-weight: bold
		color: $dark-blue-color

@media screen and (max-width: $max-width)
	.#{$class}
		&__inner
			margin: 0 20px